a {
    text-decoration: none; 
}

.main_block {
    width: 1440px;
    height: 3572.29px;
    top: -430px;
    left: -1008px;
    gap: 0px;
    opacity: 0px;
}

.cap {
    height: 90px;
    padding: 2px 0px; 
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px 0px #0000000A;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.header_with_text {
    width: 1202px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.text_talking_and_travel {
    width: 100px;
    height: 64px;
    display: flex;
    flex-direction: column; 
    position: relative; 
}

.button_home_story_gallery_contactUs_search_account {
    display: flex;
    align-items: center;
}

@font-face {
    font-family: "Black Signature PERSONAL USE ONLY";
    src:  url('./fonts/BlackSignaturePersonalUseOnly.otf');
}

.talking_text {
    width: 42.39px;
    height: 28.26px;
    left: 3.14px;
    opacity: 1; 
    font-family: 'Black Signature PERSONAL USE ONLY'; 
    font-size: 15.7px;
    font-style: italic;
    font-weight: 400;
    line-height: 28.26px;
    text-align: center;
    color: #3E3E3E;
}

.travel_text {
    width: 76.15px;
    height: 28.26px;
    top: 21.79px;
    opacity: 0px;
    font-family: Changa One;
    font-size: 26.69px;
    font-weight: 400;
    line-height: 28.26px;
    text-align: center;  
    color: #8A53FF; 
}

.button_home_story_gallery_contactUs {
    width: 359px;
    height: 19px;
    opacity: 1; 
    display: flex;
    justify-content: space-between;
}

.buttonOne {
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    background: transparent; 
    opacity: 1; 
}

.home_txt {
    width: 34.54px;
    height: 14.92px;
    top: 1.96px;
    font-family: Roboto;
    font-size: 12.56px;
    font-weight: 400;
    line-height: 14.72px;
    text-align: center;
    color: #8A53FF;
}

.story_txt {
    width: 29.05px;
    height: 14.92px;
    top: 1.96px;
    left: 77.72px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 12.56px;
    font-weight: 400;
    line-height: 14.72px;
    text-align: center;
    color: #495367;
}

.gallery_txt {
    width: 39.25px;
    height: 14.92px;
    top: 1.96px;
    left: 149.16px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 14.72px;
    text-align: center;
    color: #495367;
}

.contact-us_txt {
    width: 68.07px;
    height: 14.92px;
    top: 1.96px;
    left: 213.77px;
    font-family: Roboto;
    font-size: 12.56px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: #495367;
    margin-right: 10px;
    margin-left: -20px;
}

.vertical-line {
    width: 0px;
    height: 18.53px;
    border: 4px 0px 0px 0px;
    border: 0.79px solid #EEEEEE
}

.search-button {
    width: 20px;
    height: 20px;
    background-image: url('icons/search.png');
    background-size: cover; 
    border: none; 
    top: 2px;
    left: 395px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    margin-right: 20px;
    margin-left: 10px; 
}

.account-button {
    width: 24px;
    height: 24px;
    background-image: url('icons/account.png');
    background-size: cover; 
    order: none; 
    opacity: 0px;
}

.button-container {
    width: 457px;
    height: 24px;
    gap: 18px;
    opacity: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
}

.second-container {
    width: 1440px;
    height: 580px;
    gap: 0px;
    background: linear-gradient(90deg, #FFFFFF -0.92%, rgba(255, 255, 255, 0) 75.6%);
    position: relative; 
    display: flex;
}

.background-image {
    width: 100%;
    height: 100%;
    background-image: url('icons/rockAndSea.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.all_text_and_button {
    width: 765px; 
    height: 500px; 
    padding: 40px 120px 40px 140px;
    gap: 34px;
    position: absolute; 
}

.text_lets_talk {
    width: 505px;
    height: 252px; 
    gap: 12px;

}

.text_section {
    width: 505px;
    height: 252px;
    gap: 12px;
    display: flex;
    align-items: center; 
}

.main_text_style {
    font-family: Changa One;
    font-size: 73px;
    font-weight: 400;
    line-height: 84px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #8A53FF; 
    margin-top: 150px; 
} 

.text_share_you {
    width: 505px;
    height: 72px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #434343;
    margin-top: 50px;
}

.highlight_style {
    font-size: inherit; 
    font-weight: inherit; 
    color: #000000; 
}

.secondary-text-section_shareYou {
    width: 505px;
    height: 72px;
    gap: 0;
    display: flex;
    align-items: center; 
}

.block_button_and_watch {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 359.8px;
    height: 46px;
    margin-top: 40px;
}

.story_button_block {
    width: 165.17px;
    height: 46px;
    background: #8A53FF; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 0px 0px 0px;
    opacity: 1; 
    border-radius: 8px; 
}

.story_button {
    width: 146.12px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: #FFFFFF; 
    background: none;
    border: none;
}

.action_block {
    display: flex;
    width: 170.63px;
    height: 36px;
    opacity: 1; 
}

.image_button_play{
    width: 36px;
    height: 36px;
    align-items: center; 
    justify-content: center; 
    margin-right: 10px; 
}

.block_watch_highlights {
    width: 170.63px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.watch_text {
   width: 124.63px;
    height: 36px;
    top: 5px;
    left: 235.17px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #434343;
}

.second_block {
    width: 1160px;
    height: 552px;
    padding: 107px 140px 107px 140px;
    background: #FFFFFF;  
    display: flex; 
}

.background_snow {
    width: 540px;
    height: 338px;
    border-radius: 8px 0px 0px 0px;
    background-image: url('icons/Featured.png'); 
    background-position: center;
    opacity: 1; 
}

.right-container {
    width: 580px;
    height: 292px;
    padding: 30px 0px 0px 0px;
    gap: 24px;
    opacity: 1;
    margin-left: 70px
}

.section1 {
    width: 520px;
    height: 21px;
    gap: 0px;
    opacity: 1; 
    color: #8A53FF;
    display: flex;
    align-items: center; 
}

.section1 p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 0; 
    margin-bottom: 20px;
}

.section2 {
    width: 520px;
    height: 36px;
    gap: 0px;
    opacity: 1;
    color: #434343;
    display: flex;
    align-items: center; 
}

.section2 p {
    font-family: Changa One;
    font-size: 39px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin: 0; 
}

.section3 {
    width: 520px;
    height: 99px;
    gap: 0px;
    opacity: 1; 
    color: #434343;
    display: flex;
    align-items: flex-start; 
    
}

.section3 p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    margin: 0; 
    margin-top: 10px; 
}

.button-container_watch_now_play {
    width: 143.77px;
    height: 36px;
    gap: 0px;
    opacity: 1; 
    display: flex;
    align-items: center; 
    margin-top: 30px; 
}

.button-image_play{
    width: 36px;
    height: 36px;
}

.button-text_watch_now {
    width: 95.77px;
    height: 36px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px; 
    text-align: center; 
    color: #8A53FF;
    padding: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.third_block {
    width: 1200px;
    height: 621px;
    padding: 24px 119px 70px 119px;
    gap: 48px;
    opacity: 1;
    margin-bottom: 0px;
}

.join_and_discover_container {
    width: 1202px;
    height: auto; 
    gap: 8px;
    opacity: 1; 
    margin-bottom: 80px;
}

.main1_join_our {
    width: 1202px;
    height: auto;
    opacity: 1; 
    text-align: center;
    color: #8A53FF;
}

.main1_join_our p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    letter-spacing: 0.06em;
    margin: 0;
}

.main2_discover_the_world {
    width: 1202px;
    height: 40px;
    opacity: 1; 
    text-align: center;
    color: #434343;
}

.main2_discover_the_world p {
    font-family: Changa One;
    font-size: 39px;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
}

.photo_and_country_section {
    width: 1202px;
    height: 430px;
    opacity: 1;
    display: flex; 
}

.left_container, .right_container {
    width: 601px;
    height: 410px;
    gap: 0px;
    opacity: 1;
    display: flex;
    
}

.l1_container, .l2_container, .r1_container, .r2_container {
    width: 300.5px;
    height: 410px;
    padding: 16px 0px 0px 0px;
    gap: 10px;
    display: flex; 
    opacity: 1;
}

.image_container {
    width: 268.5px;
    height: 317.05px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 268.5px;
    height: 317.05px;
    border-radius: 8px 0px 0px 0px;
}

.text1 {
    width: 268.5px;
    height: 36px;
    gap: 0px;
    opacity: 1;
    color: #434343;
    font-family: Changa One;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.text2 {
    width: 268.5px;
    height: 14.95px;
    gap: 0px;
    opacity: 1;
    color: #8A53FF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
}

.fourth_container {

    width: 1440px;
    height: 901.18px;
    top: 1843px;
    gap: 0px;
    opacity: 0px;
    background-image: url('icons/Share.png');
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.people_back {
    width: 620px;
    height: 758px;
    top: 1917.03px;
    left: 391.5px;
    padding: 20px 0px 0px 0px;
    gap: 30px;
    opacity: 1;
}

.lets_build_and_join_our {
    width: 617px;
    height: 76px;
    gap: 15px;
    opacity: 1;
    margin-top: -20px; 
    margin-bottom: 40px;
    align-items: center;
    margin-top: 20px;
}

.title_and_shelves {
    width: 560px;
    height: 600px;
    padding: 28px 30px 28px 30px;
    gap: 17px;
    border-radius: 12px 0px 0px 0px;
    opacity: 1;
    background: #FFFFFF;
    margin-top: -20px;
}

.lets_build_block {
    width: 617px;
    height: 21px;
    opacity: 1;
    color: #8A53FF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    letter-spacing: 0.06em;
    text-align: center;
}

.join_our_block {
    width: 617px;
    height: 40px;
    opacity: 1; 
    color: #434343;
    font-family: 'Changa One', sans-serif;
    font-size: 39px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.share_and_suggest_txt {
    width: 557px;
    height: 110px;
    gap: 6px;
    opacity: 1; 
    margin-bottom: 30px;
}

.shelves {
    width: 557px;
    height: 420px;
    gap: 10px;
    opacity: 1;
    margin-bottom: 5px;
}

.submit_container{
    width: 215px;
    height: 20px;
    padding: 13.5px 9.35px 13.5px 9.52px;
    gap: 0px;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    margin-top: 15px;
    background: #8A53FF;  
    margin-top: -10px;
}

.submit_btn {
    width: 203.12px;
    height: 19px;
    opacity: 1;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: #FFFFFF;
    background: none;
    border: none; 
    cursor: pointer; 
    border-radius: 20x;
}

.share_style {
    width: 557px;
    height: 36px;
    font-family: 'Changa One', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #434343; 
    background: none; 
    padding: 5px;
}

.suggest_style {
    width: 557px;
    height: 68px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    color: #576074; 
    background: none;
    padding: 5px; 
}

.all_shalves {
    width: 533px; 
    height: 56px; 
    padding: 0px 12px; 
    gap: 0;
    border-radius: 4px 0px 0px 0px;
    border: 1px solid #0000003B; 
    opacity: 1; 
    margin-bottom: 20px;
}

.destination_name2 {
    width: 533px; 
    height: auto;
    padding: 16px 0px; 
    gap: 8px;
    opacity: 1; 
    display: flex;
    align-items: center;
}

.input-field {
    width: 501px; 
    height: 24px;
    border: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: left;
    color: #00000099; 
    background: none; 
}

.iconn {
    width: 24px;
    height: 24px;
    opacity: 1;
}

.iconn_back {
    width: 24px;
    height: 24px;
    opacity: 1;
    background-image: url('icons/Arrow.png');
}

.name {
    width: 557px;
    height: 102px;
    gap: 3px;
    opacity: 1;   
}

.name2 {
    width: 535px;
    height: 70px;
    gap: 8px;
    opacity: 1;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
    text-align: left;
    color: #00000099;
    border: 1px solid #0000003B; 
    display: flex;
    padding: 0px 12px; 
}

.fifth_block {
    width: 1200px;
    height: 748.11px;
    padding: 83px 120px 83px 120px;
    gap: 30px;
    opacity: 1;
    display:flex;
    flex-direction: column;
    position: relative;
}

.catch_and_resent {
    width: 1200px;
    height: 76px;
    gap: 15px;
    opacity: 1;
    display:flex;
}

.general_under_sections {
    width: 1200px;
    height: 476.11px;
    opacity: 1;
    display:flex;
}

.title_catch {
    width: 1200px;
    height: 21px;
    opacity: 1;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: center;
    color: #8A53FF;
    
}

.title_recentStory {
    width: 1200px;
    height: 40px;
    opacity: 1;
    font-family: Changa One;
    font-size: 39px;
    line-height: 40px;
    text-align: center;
    color: #434343;
    font-weight: 100;
}

.first_section {
    width: 600px;
    height: 100%; 
    gap: 0px;
    opacity: 1;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.second_section {
    width: 600px;
    height: 100%; 
    gap: 10px;
    opacity: 1;
    
}

.photo_blueSkyAndHill {
    width: 560px;
    height: 355px; 
    gap: 0px;
    opacity: 1;
    display: flex;
    background-image: url('icons/Big.png');
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 0;
}

.titleZermatt_and_descriptionMarvel {
    width: 560px;
    height: 118px;
    gap: 0px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F9F9F9;
    margin-top: 0;
}

.title_Zermatt {
    width: 435.13px;
    height: 36px;
    opacity: 1;
    font-family: 'Changa One', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #434343;
}

.text_MarvelOnTheBeaty {
    width: 435.13px;
    height: 52px;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #576074;
    display: flex;
}

.play_icon {
    width: 48.87px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    border: none;
    background: none;
}

.box_imageAndTitleAndDescription {
    width: 571px;
    height: 128px;
    padding: 10px 11px;
    gap: 20px;
    border-radius: 8px 8px 8px 8px;
    opacity: 1;
    margin-bottom: 10px;
    background: #F9F9F9;
    display: flex; 
    gap: 10px; 
}

.icons_opposite_the_header {
    width: 200px;
    height: 128px;
    border-radius: 4px 4px 4px 4px;
    background-size: cover;
    background-position: center;
}

.description_and_title {
    width: 358px;
    height: 128px; 
    padding: 8px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.txt_title {
    width: 358px;
    height: 36px;
    font-family: 'Changa One', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #434343;
    opacity: 1;
}

.txt_description{
    width: 358px;
    height: 78px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #576074;
    opacity: 1;
}

.violet_text {
    color: #8A53FF;
}

.bottom_cap {
    width: 1200px; 
    height: 80px; 
    padding: 32px 120px; 
    opacity: 1;
    background: #FFFFFF;
    position: absolute; 
    bottom: 0;
    left: 0;
    margin-left: 0; 
    display: flex;
} 

.talking_travel_cap {
    width: 920px;
    height: 16px;
    gap: 0px;
    opacity: 1;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #939EB4;
    margin-top: 40px;
}

.item_block {
    width: 300px;
    height: 16px;
    gap: 0px;
    opacity: 1;
    display: flex;
    margin-top: 40px;
}

.item_all {
    width: 75px;
    height: 16px;
    top: 32px;
    left: 1245.12px;
    gap: 0px;
    opacity: 1;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: center;
    color: #939EB4;
}
