.second_block {
    width: 100%;
    height: 552px;
    padding: 107px 140px 107px 140px;
    background: #FFFFFF;  
    display: flex; 
    flex-direction: row;
    box-sizing: border-box;
}

.background_snow {
    width: 100%;
    height: 338px;
    border-radius: 8px 0px 0px 0px;
    background-image: url('../image/Featured.png'); 
    background-position: center;
    opacity: 1; 
    background-repeat: no-repeat;
}

.rightt_container {
    width: 100%;
    height: 292px;
    padding: 30px 0px 0px 0px;
    gap: 24px;
    opacity: 1;
    margin-left: 70px
}

.section1 {
    width: 520px;
    height: 21px;
    gap: 0px;
    opacity: 1; 
    color: #8A53FF;
    display: flex;
    align-items: center; 
}

.section1 p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    letter-spacing: 0.06em;
    text-align: left;
    margin: 0; 
    margin-bottom: 20px;
}

.section2 {
    width: 520px;
    height: 36px;
    gap: 0px;
    opacity: 1;
    color: #434343;
    display: flex;
    align-items: center; 
}

.section2 p {
    font-family: Changa One;
    font-size: 39px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin: 0; 
}

.section3 {
    width: 520px;
    height: 99px;
    gap: 0px;
    opacity: 1; 
    color: #434343;
    display: flex;
    align-items: flex-start; 
    
}

.section3 p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    margin: 0; 
    margin-top: 10px; 
}

.button_container_watch_now_play {
    width: 143.77px;
    height: 36px;
    gap: 0px;
    opacity: 1; 
    display: flex;
    align-items: center; 
    margin-top: 30px; 
}

.button_image_play{
    width: 36px;
    height: 36px;
    font-style: italic; 
    transition: transform 0.2s ease-in-out;
}

.button_image_play:hover {
    transform: scale(1.1); 
    cursor: pointer; 
}

.button_text_watch_now {
    width: 95.77px;
    height: 36px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px; 
    text-align: center; 
    color: #8A53FF;
    padding: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}