.bottom_cap {
    width: 1200px;
    height: 80px;
    padding: 32px 120px 32px 120px;
    gap: 0px;
    opacity: 1;
    margin-left: -258px;
    display: flex;
    align-items: center;
} 

.talking_travel_cap {
    width: 907.64px;
    height: 16px;
    gap: 0px;
    opacity: 1;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #939EB4;
    display: flex;
}

.item_block {
    width: 300px;
    height: 16px;
    gap: 0px;
    opacity: 1;
    display: flex;
    margin-top: 10px;
}

.item_all {
    width: 75px;
    height: 16px;
    top: 32px;
    left: 1245.12px;
    gap: 0px;
    opacity: 1;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: center;
    color: #939EB4;
}
