@font-face {
    font-family: "Black Signature";
    src:  url('../fonts/BlackSignaturePersonalUseOnly.otf');
}

.common_block_for_everyone {
    width: 100%;
    height: 3300px;
    padding: 46px 258px 46px 258px;
    gap: 35px;
    opacity: 1;
    background: #FFFFFF;
}

.one_block_title_wih_image {
    width: 1000px;
    height: 635px;
    gap: 20px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.block_popular_hello_photo {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    height: 75px;
    gap: 0px;
    opacity: 1;
}

.popular_hello_block {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    width: 721px;
    height: 75px;
    gap: 0px;
    opacity: 1;
}

.block_popular_destinations {
    width: 100%;
    height: 21px;
    gap: 0px;
    opacity: 1;
}

.txt_popular_destinations  {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #8A53FF;
    margin: 0;
}

.block_hello_switzerland {
    width: 721.18px;
    height: 54px;
    gap: 0px;
    opacity: 1;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
}

.txt_hello_switzerland {
    font-family: Changa One;
    font-size: 50px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #434343;
}

.photo_and_name {
    display: flex;
    width: 191px;
    height: 35px;
    gap: 10px;
    opacity: 1;
}

.photo_avatar {
    width: 35px;
    height: 35px;
    gap: 0px;
    opacity: 1;
}

.name_author {
    width: 190px;
    height: 35px;
    gap: 10px;
    opacity: 1;
}

.txt_name_block {
    width: 135px;
    height: 19px;
    gap: 0px;
    opacity: 1;
    display: flex;
}

.name_txt {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: #495367;
}

.block_author {
    width: 145.47px;
    height: 16px;
    gap: 0px;
    opacity: 1px;    
}

.author_txt {
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #A2A7B1;
}

.background_article {
    width: 1000px;
    height: 540px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 1;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.background_article img {
    width: 100%;
    height: 100%;
    top: 95px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 1;
    background: linear-gradient(0deg, #C4C4C4, #C4C4C4),
    linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06));
}

.txt_matterhon {
    width: 100%;
    height: 92px;
    top: 150px;
    left: 10.19px;
    gap: 0px;
    opacity: 0px; 
    font-family: Black Signature;
    font-size: 70px;
    font-style: italic;
    font-weight: 400;
    line-height: 92.4px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
}

.photo_ellipse_and_polygon {
    position: absolute; 
    width: 105px; 
    height: 105px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellips {
    width: 106px;
    height: 107px;
    background-image: url('../icons/ellipse.png');
    background: rgba(138, 83, 255, 0.6);
    border-radius: 50%; 
    position: absolute; 
    top: -10px;
    left: 5px;
    gap: 0px;
    opacity: 1;
}

.polygon {
    width: 52.03px;
    height: 51.56px;
    position: absolute; 
    top: 26%; 
    left: 42%; 
    background-image: url('../icons/polygon.png');
    background-repeat: no-repeat;
    z-index: 1;
}

.block_our_swiss_location {
    width: 1000px;
    height: 124px;
    gap: 10px;
    opacity: 1;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
     margin-left: auto;
    margin-right: auto;
}

.txt_our_swiss {
    width: 911.64px;
    height: 36px;
    gap: 0px;
    opacity: 1;
    font-family: Changa One;
    font-size: 32px;
    color: #434343; 
    margin-bottom: 10px;
}

.txt_location{
    width: 911.64px;
    height: 78px;
    gap: 0px;
    opacity: 1;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #434343; 
}